<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/fantasque-sans-mono"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/icomoon/style.css"></head>

    <link rel="stylesheet" href="/assets/styles.css" />

    <title>{{ page.tab-title }}</title>
  </head>
  <body>
    <h1>{{ page.page-title }}</h1>

    {{ content }}
  </body>
</html>
